*{
	margin:0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}
#header{
	width: 	100%;
	height: 100px;
}
#logo{
	width: 10%;
	height: 100%;
	background-image: url(image/logo-sm.png);
	background-size: cover;
	position: relative;
	float: left;
	top: 0px;
}

#header-left{
	width: 45%;
	float: left;
}
#header-right{
	width: 45%;
	float: right;
}
#header-left>ul{
	float: right;
}
#header-right{
	float: left;
}
#logo+div{
	float: right !important;
}
#header>div>ul>li{
	display: block;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 30px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
}
#main1{
	width: 100%;
	height: 820px;
	background-color: #e6e6e6;
	z-index: 0;
	padding-top: 50px;
}
#main1>div{
	width: 30%;
	height: 300px;
	float: left;
	margin-right: 3%;
	margin-top: 20px;
}
#main1>div div{
	width: 100%;
	height: 200px;
}
.title1{
	font-size: 24px;
	color:  #46b2a2;
	font-weight: bold;
	padding: 5px;
}
.title2{
	font-size: 16px;
	color:#404040;
}
#main2{
	width: 90%;
	height: 400px;
	position: relative;
	left: 5%;
}
#left1{
	width: 60%; 
	height: 400px; 
	float: left;
}
#right1{
	width: 40%; 
	height: 400px; 
	float: left;
}
#main3{
	width: 100%;
	height: 700px;
	background-color: #91d1ca;
}
.hover{
	width: 100%;
	height: 1px !important;
}
#main1>div>div:hover div{
	height: 200px !important;
	background-image: url(image/download.jfif);
	background-size: cover;
	transition: height 4s;
	animation-timing-function: linear;
}
@media screen and (min-width: 481px) and ( max-width: 699px){
	#header1>ul{
		padding-left: 30% !important;
	}
	#main1{
		width: 100%;
		height: 1200px;
	}
	#main1>div{
		width: 45%;
		height: 300px;
	}
	.l1{
		float: left !important;
		margin-left: 2%;
	}
	.l2{
		float: right !important;
	}
	#main2{
		width: 100%;
		height: 550px;
	}
	#left1{
		width: 100%;
		height: 380px;
		float: none !important;
	}

	#right1{
		width: 100%;
		height: 150px;
		float: none !important;
	}
	.tt1{
		padding-top: 0px !important;
		padding-left: 0px !important;
	}
	.icon{
		padding-left: 70px !important;
		padding-right:70px !important;

	}
}
@media screen and (max-width: 480px){
	#main1{
		width: 100%;
		height: 2300px;
	}
	#main1>div{
		width: 90%;
		height: 300px;
		margin-left: 5%;
	}
	.l1{
		float: left !important;
	}
	.l2{
		float: right !important;
	}
	#main2{
		width: 100%;
		height: 770px;
	}
	#left1{
		width: 100%;
		height: 550px;
		float: none !important;
	}

	#right1{
		width: 100%;
		height: 150px;
		float: none !important;
	}
	.tt1{
		padding-top: 0px !important;
		padding-left: 0px !important;
	}
	.icon{
		padding-left: 20px !important;
		padding-right:20px !important;

	}
}